body{
    background-color: rgb(24, 23, 23);
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(54, 51, 51);
    opacity: 0.6;
    height: 50px;
    grid-template-areas: 
    "logo . primary-nav";
}

.logo{
    grid-area: logo;
    margin:  .25em .25em;
    text-decoration: none;
    font-weight: bold; 
    font-family: fantasy;
    font-size: 20pt;
    /* animation: color-change 30s infinite; */
}

@keyframes color-change {
    0% { color: rgb(253, 250, 250); }
    30% { color: rgb(45, 45, 104); }
    60% { color: rgb(133, 28, 219); }
    100%{color: rgb(253, 250, 250);}
}

.primary-nav{
    grid-area: primary-nav;
    margin-top: 5em;
    margin:  .25em .25em;
    list-style-type: none;
    font-size: 20pt;
    font-family: fantasy;
}

li{
    display: inline;
    float: right;
} 

a{
    text-decoration: none;
    padding-right: .25em; 
    list-style-type: none;
    display: inline-block;
    color: lightseagreen;
} 
a:hover{
    color: white;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 700px solid gray;
    border-right: 1600px solid transparent;
}

.hero-image{
    margin-top: -500px;
}

.hero-image p{
    margin: 0px;
    padding: 0;
    text-align: center;
    font-size: 20pt;
    color: lightseagreen;
}

h1{
    text-align: center;
    font-size: 100pt;
    color: ivory;
    padding: 0pt;
    margin-top: 0em;
    margin: 0pt;
}

h2{
    margin-left: 26.5em;
    font-size: 18pt;
    color: ivory;
    background-color: rgb(40, 40, 107);
    border-radius: 5em;
    padding: .5em;
    /* display: inline-flex;  */
    position: absolute;
}

h2:hover{
    color: royalblue;
    background-color: gray;
}

h3{
    /* margin-left: 26.5em; */
    font-size: 18pt;
    color: ivory;
    background-color: rgb(43, 43, 51);
    border-radius: 5em;
    padding: .5em;
    text-align: center;
    z-index: 9;
    /* display: inline-flex;  */
    /* position: absolute; */
}

.About{
    visibility: hidden;
    padding: 0pt;
    margin: 0pt;
    text-align: center;
    background-color: cornflowerblue;
}

.overlay{
    z-index: 9;
}