body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(120deg, #302f2f 50%, #1c1b22 50%);
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    z-index: 10;
    top: 0;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    background-color: rgb(37, 28, 28);
    opacity: 0.6;
    height: 50px;
    grid-template-areas: 
    "logo . mobile-menu";
}

.logo{
    grid-area: logo;
    margin:  .25em .25em;
    text-decoration: none;
    font-weight: bold; 
    font-family: fantasy;
    font-size: 20pt;
}

.mobile-menu{
    grid-area: mobile-menu;
    position: absolute;
    right: 0;
    max-height: 50px;
    z-index: 999;
}

.mobile-menu:hover{
    background-color: white
}

#menuBtn{
    display: none;
    position: fixed;
    z-index: 900;
    width: 66%;
    right: 0;
    top: 0;
    background: rgb(41, 49, 49);
    height: 100vh;
    padding: 1em;
}

li{
    font-size: 2em;
    list-style-type: none;
}

a{
    text-decoration: none;
    padding-right: .25em; 
    list-style-type: none;
    color: lightseagreen;
    cursor: pointer;
} 

a:hover{
    color: white;
}

.hero-image{
    height: 5em;
    position: absolute;
}

.fade{
    opacity: 1;
    position: relative;
}

h1{
    text-align: center;
    font-size: 100pt;
    color: ivory;
    padding: 0pt;
    margin-bottom: 0em;
}

.hero-image p{
    width: 50%;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: 20pt;
    color: lightseagreen;
}

Button{
    border-radius: 2em;
    border: none;
    background-color: rgb(10, 101, 238);
    text-align: center;
    display: block;
    margin: auto;
    padding: .5em;
    font-size: 20pt;
    color: white;
    cursor: pointer;
}
Button:hover{
    color: black;
    background-color: gray;
}

.elementToFadeIn{
    animation: fadeIn .25s linear forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.elementToFadeOut {
    animation: fadeOut .25s linear forwards;
}

@keyframes fadeOut {
 0% { opacity:1; } 
 100% { opacity:0; } 
}

.About{
    opacity: 0;
    padding: none;
    margin: none;
    position: relative;
}

.portrait{
    margin: auto;
    display: block;
    padding: 1em;
    width: 40%;
    height: 40%;
}

h2{
    font-size: 20pt;
    margin-top: 3em;
}

label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea{
    width: 80%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"]{
    color: white;
    margin: 2em;
    border: 1em;
    width: unset;
    cursor: pointer;
    border-radius: 2em;
    background-color: rgb(10, 101, 238);
    display: block;
    padding: .5em;
    font-size: 20pt;
}

h3{
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: none;
}

iframe{
    margin: 0em;
    padding-top: 1em;
    text-align: center;
    display: block;
    width: 80%;
    height: 32em;
    border: none;
    margin: auto;
    margin-bottom: 1em;
}

.download-btn{
    margin-bottom: 1em;
    color: white;
}

@media only screen  and (min-width: 768px){

    .mobile-exit,.mobile-menu{
        display: none;
    }

    .navbar{
        position: fixed;
        z-index: 10;
        top: 0;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;
        background-color: rgb(5, 3, 3);
        opacity: 0.6;
        height: 50px;
        grid-template-areas: 
        "logo . primary-nav";
    }

    
    .primary-nav{
        grid-area: primary-nav;
        display: inline;
        margin:  .25em .25em;
        list-style-type: none;
        font-size: 20pt;
        font-family: fantasy;
    }

    #menuBtn{
        padding-top: none;
        margin-top: -.75em;
        display: inline;
        background: none;
        z-index: none;
        width: auto;
        height: auto;
    }

    li{
        font-size: 20pt;
        float: right;
        padding-left: .25em;
    } 

    iframe{
        margin: 0em;
        padding-top: 1em;
        text-align: center;
        display: block;
        width: 80%;
        height: 67em;
        border: none;
        margin: auto;
        margin-bottom: 1em;
    }
}